.glyphicon-log-in:before {
  margin-right: 5px;
  font-size:0.9em;
}
.glyphicon-question-sign:before {
  margin-right: 5px;
  font-size:0.9em;
}
.glyphicon-log-out:before {
  margin-right: 5px;
  font-size:0.9em;
}
.glyphicon-eye-open:before {
  margin-right: 5px;
  font-size:0.9em;
}
.glyphicon-user:before {
  margin-right: 5px;
  font-size:0.9em;
}
